<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kzv.mvc.mapper.BoardMapper">

    <select id="getList" resultType="com.kzv.mvc.domain.BoardVO">
        <![CDATA[
        select *
        from tbl_board
        where bno > 0
        ]]>
    </select>

    <insert id="insert">
        insert into tbl_board ( title, content, writer)
        values (#{title}, #{content}, #{writer})
    </insert>

<!--    <insert id="insertSelectKey">-->
<!--        &lt;!&ndash;        <selectKey keyProperty="bno" order="BEFORE" resultType="long">&ndash;&gt;-->
<!--        &lt;!&ndash;            select bno from dual&ndash;&gt;-->
<!--        &lt;!&ndash;        </selectKey>&ndash;&gt;-->
<!--        insert into tbl_board(title, content, writer)-->
<!--        values(#{title},#{content},#{writer})-->
<!--    </insert>-->
</mapper>