<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<th:block th:insert="layout/header.html :: fragment-header"></th:block>

<h1>게시글 등록</h1>
<div class="col-md-12">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="id">글 번호</label>
        <input type="text" class="form-control" id="id" readonly th:value="${post.id}">
      </div>
      <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" th:value="${post.title}">
      </div>
      <div class="form-group">
        <label for="author">작성자</label>
        <input type="text" class="form-control" id="author" readonly th:value="${post.author}">
      </div>
      <div class="form-group">
        <label for="content">내용</label>
        <input type="text" class="form-control" id="content" th:value="${post.content}">
      </div>
    </form>
    <a href="/" class="btn btn-secondary" role="button">취소</a>
    <button class="btn btn-primary" type="button" id="btn-update">수정 완료</button>
    <button class="btn btn-danger" type="button" id="btn-delete">삭제</button>
  </div>
</div>


<th:block th:insert="layout/footer.html :: fragment-footer"></th:block>
</body>
</html>