<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .target{
            background-color:red;
        }
    </style>
</head>
<body>
<ul>
    <li th:each="dto : ${list}">
        [[${dto}]]
    </li>
</ul>

<!--if-->
<ul>
    <li th:each="dto, state : ${list}">
        <span th:if="${dto.sno % 5 == 0}" th:text="${'----------'+dto.sno}"></span>
        <span th:unless="${dto.sno % 5 == 0}" th:text="${'----------'+dto.first}"></span>
    </li>
</ul>

<!--삼항 연산자-->
<ul>
    <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0}? ${dto.sno}:${dto.first}"></li>
</ul>

<!--동적 스타일-->
<ul>
    <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0}? 'target'" th:text="${dto}"></li>
</ul>


</body>
</html>